{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <article class="intro">
	<div class="">
	    <h3>Welcome to Oloja Marketplace</h3>
	    <p>Redefining connections and transaction in West Africa.
	    Explore our contactless marketplace for local and global businesses.
	    Join us in shaping a future of conviniece and posibilities</p>
	    <button>SHOP NOW</button>	
	</div>
	<div class="image">
	    <img>
	</div>

    </article>
    <article class="more">
	<div>
	    <p>Discover Oloja Marketplace Hub.<br>
	Your risk-free journey start here</p>
	</div>
    </article>
    <article class="sign">
	<ol>
	    <li>Explore</li>
	    <li><button onclick="window.location.href='/signup/'" method="POST" class="up">Sign up</button></li>
	    <li>Free trial</li>
	    <li>contact us</li>

	</ol>
    </article>
	<!-- Add a section to display the user's cart contents -->
    <article class="cart">
        <h2>Your Cart</h2>
        <ul>
            {% for product_id, quantity in user.cart.items() %}
                <li>Product {{ product_id }}: Quantity {{ quantity }}</li>
            {% endfor %}
        </ul>
    </article>
    <h2>HELLO WORLD</h2>
</div>
{% endblock %}
