<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Page Title</title>
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
	<div class="container">
    <section class="filters">                             
	<div class="div">
        <h5>Marketplace</h5>
        </div>
        <div class="div"><h6>PRODUCT</h6></div>
        <div class="div"><h6>ORDERS</h6></div>
        <div class="div"><h6>CATEGORIES</h6></div>        
	<div class="input"><input type="text" id="search" value="search       o"></div>
        <div class="div"><h6>cart</h6></div>
        <div class="div"><p>help</p></div>
        <div class="div"><p>user</p></div>
    </section>
	{% block body %}
	{% endblock %}
    </body>
</html>
