{% include 'contact.html' %}
<footer>
    {% block footer %}
    <section class="w-full flex flex-wrap text-sm flex-row md:items-center justify-between px-[4rem] py-[1.2rem]">
        <article class="w-1/2 md:w-1/3">
            <h3 class="font-semibold text-lg mb-2">Marketplace</h3>
            <p>Redefining connections and transactions in West Africa.
                Explore our contactless marketplace for local business.
                Join us in shaping a future of convenience and possiblities.</p>
            <div class="mt-4">
                <input class="border rounded-lg px-4 py-2" type="email" name="email" placeholder="Email">
                <button class="border rounded-lg px-4 py-2">Subscribe</button>
            </div>
        </article>
        <article>
            <h3 class="font-semibold mb-4">Links</h3>
            <ul class="space-y-4">
                <li><a href="#">Product</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Categories</a></li>
            </ul>
        </article>
        <article>
            <h3 class="font-semibold mb-2">Support</h3>
            <ul class="space-y-4">
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Partner</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>
        </article>
        <article>
            <h3 class="font-semibold mb-2">Follow us</h3>
            <ul class="space-y-4">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </article>
    </section>
    <article class="text-center p-4 border text-sm">
        All right reserved &copy;copyright Markektplace 2023
    </article>
    {% endblock footer %}
</footer>