<main class="px-[4rem] py-[3rem]">
    {% block content %}
       <section>
        <div class="md:w-1/2 h-1/2 align-middle text-base py-8">
            <h1 class="font-semibold text-lg mb-3">Welcome to Momo Marketplace</h1>
            <p class="leading-8 text-lg font-light">Redefining connections and transactions in West Africa.
                Explore our contactless marketplace for local business.
                Join us in shaping a future of convenience and possiblities.
            </p>
            <div class="flex my-11 space-x-4 items-center">
                <button class="border rounded-lg bg-blue-500 text-white px-4 py-3 font-medium">Get Started</button>
                <button class="border rounded-lg px-4 py-3 font-medium">Explore</button>
            </div>
        </div>
       </section> 
    {% endblock %}
</main>