<main class="px-[2rem] md:px-[4rem] py-[4rem] mt-8 bg-cover" style="background-image: url('../static/images/cardless-momo.jpeg');">
    {% block content %}
       <section class="mt-14">
        <div class="md:w-1/2 h-1/2 align-middle text-base py-8 text-blue-900">
            <h1 class="font-semibold text-3xl mb-3">Welcome to Momo Marketplace</h1>
            <p class="leading-8 text-xl font-light">Redefining connections and transactions in West Africa.
                Explore our contactless marketplace for local business.
                Join us in shaping a future of convenience and possiblities.
            </p>
            <div class="flex my-11 space-x-4 items-center">
                <button class="rounded-lg bg-blue-500 text-white px-4 py-3 font-medium outline-none hover:bg-blue-600">Get Started</button>
                <button class="rounded-lg px-4 py-3 font-medium border border-blue-600 outline-none hover:bg-blue-100">Explore</button>
            </div>
        </div>
       </section> 
    {% endblock %}
</main>