<section class="flex flex-col items-center justify-between my-8 w-full px-8 md:px-[4rem] py-[1.2rem]">
    {% block product %}
    <div class="text-center flex flex-col">
        <h2 class="font-bold text-3xl">Our Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="grid grid-flow-row grid-cols-1 md:grid-flow-col md:grid-cols-4 gap-4 my-8 w-full">
        <article class="border flex flex-col items-center rounded-lg">
            <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>
                        <iconify-icon icon="material-symbols:favorite-outline" width="20" height="20"></iconify-icon>
                    </button>
                </div>
                <button class="rounded-full px-4 py-3 w-full bg-sky-500 hover:bg-sky-700 text-white text-center">
                    <iconify-icon icon="mdi:cart" width="20"></iconify-icon>  Add to cart
                </button>
            </div>
        </article>

        <article class="border flex flex-col items-center rounded-lg">
            <img src="../static/images/iphone.jpeg" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>
                        <iconify-icon icon="material-symbols:favorite-outline" width="20" height="20"></iconify-icon>
                    </button>
                </div>
                <button class="rounded-full px-4 py-3 w-full bg-sky-500 hover:bg-sky-700 text-white text-center">
                    <iconify-icon icon="mdi:cart" width="20"></iconify-icon>  Add to cart
                </button>
            </div>
        </article>

        <article class="border flex flex-col items-center rounded-lg">
            <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>
                        <iconify-icon icon="material-symbols:favorite-outline" width="20" height="20"></iconify-icon>
                    </button>
                </div>
                <button class="rounded-full px-4 py-3 w-full bg-sky-500 hover:bg-sky-700 text-white text-center">
                    <iconify-icon icon="mdi:cart" width="20"></iconify-icon>  Add to cart
                </button>
            </div>
        </article>

        <article class="border flex flex-col items-center rounded-lg">
            <img src="../static/images/iphone.jpeg" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>
                        <iconify-icon icon="material-symbols:favorite-outline" width="20" height="20"></iconify-icon>
                    </button>
                </div>
                <button class="rounded-full px-4 py-3 w-full bg-sky-500 hover:bg-sky-700 text-white text-center">
                    <iconify-icon icon="mdi:cart" width="20"></iconify-icon>  Add to cart
                </button>
            </div>
        </article>
    </div>
    <div class="align-middle"><button class="rounded-lg px-4 py-3 hover:bg-slate-500 bg-black text-white outline-none text-sm">Load More</button></div>
    {% endblock product %}
</section>