<div class="mt-20">
    {% block product_detail %}
    <h1 class="text-xl font-semibold">Product Details</h1>
    <div class="flex flex-col space-y-4 items-start w-full">
        <div class="border rounded-lg grid md:grid-cols-2 w-full">
            <div class="flex flex-row p-4 space-x-2">
                <div class="grid grid-rows-4 gap-2">
                    <div class="w-20 h-20 rounded-lg  bg-slate-300"></div>
                    <div class="w-20 h-20 rounded-lg  bg-slate-300"></div>
                    <div class="w-20 h-20 rounded-lg  bg-slate-300"></div>
                    <div class="w-20 h-20 rounded-lg  bg-slate-300"></div>
                </div>
                <div class="w-full h-full bg-slate-300 rounded-lg"></div>
            </div>
            <div class="px-6 py-2">
                <h3 class="text-sm text-slate-400 font-thin">Great Minds</h3>
                <h1 class="text-lg font-light">Customer Reviews and Ratings</h1>
                <p class="text-sm text-slate-400 py-3 font-thin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, et? 
                    Voluptates expedita quis autem ipsum quidem quas
                </p>
                <div class="space-y-4">
                    <div class="flex flex-row items-center justify-between">
                        <span>
                            <h2 class="text-2xl font-light">Price: <strong class="font-thin">$xxx.xx</strong><sup class="text-sm font-thin">-xx off</sup></h2>
                        </span>
                        <span>
                            <p>4.8</p>
                        </span>
                    </div>
                    <div class="flex items-center justify-between flex-row">
                        <p class="flex items-center text-sm">
                            <span class="font-light">Select size:&nbsp;</span>  
                            <select name="choice" id="" class="border rounded-lg text-sm px-4 py-2 text-slate-300">
                                <option value="none">Choose you size</option>
                            </select>
                        </p>
                        <p class="flex items-center text-sm space-x-2">
                            <span class="font-light">Quatity:&nbsp;</span>
                            <select name="choice" class="border rounded-lg text-sm text-slate-300 px-4 py-2" id="">
                                <option value="none">0</option>
                            </select>
                        </p>
                    </div>

                    <div class="space-y-4">
                        <p class="flex items-center font-thin text-sm">
                            Color: <input type="radio" name="" id="">
                        </p>
                        <button class="px-4 py-2 rounded-lg border">Buy Now</button>
                        <button class="px-4 py-2 rounded-lg border">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="border rounded-md w-full flex flex-col">
            <div class="flex text-base flex-row items-start text-slate-400 space-x-4 border-b px-4 pt-4 pb-2">
                <h2 class="font-thin">Description</h2>
                <h2 class="font-thin">Reviews</h2>
            </div>
            <div class="flex flex-row">
                <div class="flex flex-row items-center w-full md:w-9/12">
                    <div class="px-3 py-3 border border-b flex flex-row items-center justify-between md:justify-start">
                        <div class="flex flex-col items-center w-1/3 md:w-1/4">
                            <div class="rounded-full w-20 h-20 bg-slate-200"></div>
                            <h1 class="text-sm font-semibold">Aliyu Adekola</h1>
                            <p class="text-slate-400 text-sm font-thin">20 Nov, 2023</p>
                        </div>
                        <div class="md:w-3/5">
                            <p class="text-sm font-thin text-left text-slate-400">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                perspiciatis odit dolor.
                            </p>
                            <p class="text-sm text-slate-400">Thanks (234)</p>
                        </div>
                    </div>
                </div>
                <div class="hidden border w-1/4 md:flex items-center flex-col px-4 py-3">
                    <h2 class="font-thin text-base">Average Rating</h2>
                    <h4 class="font-light">4/5</h4>
                </div>
            </div>
        </div>
    </div>
    {% endblock product_detail %}
</div>  