<div class="mt-20 w-full">
    {% block products %}
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 md:gap-3 items-center justify-between">
            <div class="col-span-4 hidden md:block w-full h-[300px]">
                <img src="../static/images/iphone.jpeg" class="w-full h-full" alt="">
            </div>
            <div class="rounded-lg border text-sm">
                <div class="flex items-center justify-between px-4 py-3">
                    <div>
                        <h2 class="font-semibold text-base">category</h2>
                        <p class="font-thin text-slate-400">Color</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <button class="border hover:bg-blue-700 hover:text-white text-slate-600 rounded-3xl px-6 py-2 font-semibold">Buy</button>
                        <button class="border rounded-3xl flex items-center justify-center py-2 text-center font-light">
                            <iconify-icon icon="mdi:cart" width="20"></iconify-icon>
                        </button>
                    </div>
                </div>
                <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2 border">
                <div class="px-4 py-2 flex justify-between items-center">
                    <div>
                        <a href="/details" class="font-thin text-sm text-slate-400">Product Name</a>
                        <h1 class="text-lg">Unknown</h1>
                    </div>
                    <div>
                        <s class="text-light text-slate-400 text-right">$120</s>
                        <p class="font-light text-lg">$XX</p>
                    </div>
                </div>
            </div>

            <div class="rounded-lg border text-sm">
                <div class="flex items-center justify-between px-4 py-3">
                    <div>
                        <h2 class="font-semibold text-base">category</h2>
                        <p class="font-thin text-slate-400">Color</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <button class="border hover:bg-blue-700 hover:text-white text-slate-600 rounded-3xl px-6 py-2 font-semibold">Buy</button>
                        <button class="border rounded-3xl flex items-center justify-center py-2 text-center font-light">
                            <iconify-icon icon="mdi:cart" width="20"></iconify-icon>
                        </button>
                    </div>
                </div>
                <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2 border">
                <div class="px-4 py-2 flex justify-between items-center">
                    <div>
                        <a href="/details" class="font-thin text-sm text-slate-400">Product Name</a>
                        <h1 class="text-lg">Unknown</h1>
                    </div>
                    <div>
                        <s class="text-light text-slate-400 text-right">$120</s>
                        <p class="font-light text-lg">$XX</p>
                    </div>
                </div>
            </div>

            <div class="rounded-lg border text-sm">
                <div class="flex items-center justify-between px-4 py-3">
                    <div>
                        <h2 class="font-semibold text-base">category</h2>
                        <p class="font-thin text-slate-400">Color</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <button class="border hover:bg-blue-700 hover:text-white text-slate-600 rounded-3xl px-6 py-2 font-semibold">Buy</button>
                        <button class="border rounded-3xl flex items-center justify-center py-2 text-center font-light">
                            <iconify-icon icon="mdi:cart" width="20"></iconify-icon>
                        </button>
                    </div>
                </div>
                <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2 border">
                <div class="px-4 py-2 flex justify-between items-center">
                    <div>
                        <a href="/details" class="font-thin text-sm text-slate-400">Product Name</a>
                        <h1 class="text-lg">Unknown</h1>
                    </div>
                    <div>
                        <s class="text-light text-slate-400 text-right">$120</s>
                        <p class="font-light text-lg">$XX</p>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border text-sm">
                <div class="flex items-center justify-between px-4 py-3">
                    <div>
                        <h2 class="font-semibold text-base">category</h2>
                        <p class="font-thin text-slate-400">Color</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <button class="border hover:bg-blue-700 hover:text-white text-slate-600 rounded-3xl px-6 py-2 font-semibold">Buy</button>
                        <button class="border rounded-3xl flex items-center justify-center py-2 text-center font-light">
                            <iconify-icon icon="mdi:cart" width="20"></iconify-icon>
                        </button>
                    </div>
                </div>
                <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2 border">
                <div class="px-4 py-2 flex justify-between items-center">
                    <div>
                        <a href="/details" class="font-thin text-sm text-slate-400">Product Name</a>
                        <h1 class="text-lg">Unknown</h1>
                    </div>
                    <div>
                        <s class="text-light text-slate-400 text-right">$120</s>
                        <p class="font-light text-lg">$XX</p>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border text-sm">
                <div class="flex items-center justify-between px-4 py-3">
                    <div>
                        <h2 class="font-semibold text-base">category</h2>
                        <p class="font-thin text-slate-400">Color</p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <button class="border hover:bg-blue-700 hover:text-white text-slate-600 rounded-3xl px-6 py-2 font-semibold">Buy</button>
                        <button class="border rounded-3xl flex items-center justify-center py-2 text-center font-light">
                            <iconify-icon icon="mdi:cart" width="20"></iconify-icon>
                        </button>
                    </div>
                </div>
                <img src="../static/images/asus.jpeg" alt="#" class="w-full h-1/2 border">
                <div class="px-4 py-2 flex justify-between items-center">
                    <div>
                        <a href="/details" class="font-thin text-sm text-slate-400">Product Name</a>
                        <h1 class="text-lg">Unknown</h1>
                    </div>
                    <div>
                        <s class="text-light text-slate-400 text-right">$120</s>
                        <p class="font-light text-lg">$XX</p>
                    </div>
                </div>
            </div>
            

            
        </div>
    {% endblock products %}
</div>  