<section class="flex flex-col items-center justify-between my-8 w-full px-[4rem] py-[1.2rem]">
    {% block product %}
    <div class="text-center flex flex-col">
        <h2 class="font-bold text-3xl">Our Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="grid grid-flow-row md:grid-flow-col md:grid-cols-4 gap-4 my-8 w-full">
        <article class="border rounded-lg flex flex-col items-center">
            <img src="" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>wish</button>
                </div>
                <button class="border rounded-lg px-4 py-3 w-full">Add to cart</button>
            </div>
        </article>

        <article class="border rounded-lg flex flex-col items-center">
            <img src="" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>wish</button>
                </div>
                <button class="border rounded-lg px-4 py-3 w-full">Add to cart</button>
            </div>
        </article>

        <article class="border rounded-lg flex flex-col items-center">
            <img src="" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>wish</button>
                </div>
                <button class="border rounded-lg px-4 py-3 w-full">Add to cart</button>
            </div>
        </article>

        <article class="border flex flex-col items-center rounded-lg">
            <img src="" alt="#" class="w-full h-1/2">
            <div class="px-4 py-2 w-full space-y-2">
                <p class="text-sm">Categories</p>
                <p class="font-semibold text-lg">Product Name</p>
                <div class="flex flex-row flex-wrap items-center justify-between">
                    <p class="text-sm">N Price</p>
                    <button>wish</button>
                </div>
                <button class="border rounded-lg px-4 py-3 w-full">Add to cart</button>
            </div>
        </article>
    </div>
    <div class="align-middle"><button class="border rounded-lg px-4 py-3">Load More</button></div>
    {% endblock product %}
</section>