<nav class="md:w-1/5 h-full border-r mt-16 px-8 hidden md:block fixed">
    {% block sidenav %}
    <ul class="mt-10 w-full cursor-pointer font-light text-sm flex flex-col items-start justify-between space-y-6">
        <li class="text-slate-500">Baby Product</li>
        <li class="rounded-lg bg-[#ffc107] text-white px-4 py-2"><a href="/product">Computers </a></li>
        <li class="text-slate-500"><a href="/product">Accessories</a></li>
        <li class="text-slate-500"><a href="/product">Gaming </a></li>
        <li class="text-slate-500"><a href="/product">Electronics</a></li>
        <li class="text-slate-500"><a href="/product">Gadget</a></li>
        <li class="text-slate-500"><a href="/product">Cameras</a></li>
    </ul>
    {% endblock sidenav %}
</nav>