{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block body %}
    {{ super() }}
<section class="flex items-center justify-center mt-32">
    <div class="w-2/5 border rounded-lg flex items-center flex-col px-4 py-3 space-y-4">
        <h1 class="text-center text-xl w-3/4 font-semibold text-black">
            Welcome to marketplace
        </h1>
        <p class="text-slate-500 w-3/4 text-center text-sm">Type your username or phone number to log in your account.</p>
        <form method="post" action="" class="w-full">
          {{ form.hidden_tag() }}
            <label class="block">
                <span class="block text-sm font-medium text-slate-700">{{ form.username.label() }}</span>
                <!-- Using form state modifiers, the classes can be identical for every input -->
                {{ form.username(placeholder="Enter username", class="mt-1 block w-full px-3 py-2 bg-white border 
                  border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500invalid:border-pink-500 invalid:text-pink-600
                  focus:invalid:border-pink-500 focus:invalid:ring-pink-500") }}
              </label>
              <label class="block">
                <span class="block text-sm font-medium text-slate-700">{{ form.password.label() }}</span>
                <!-- Using form state modifiers, the classes can be identical for every input -->
                {{ form.password(placeholder="Enter password", class="mt-1 block w-full px-3 py-2 
                  bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600
                  focus:invalid:border-pink-500 focus:invalid:ring-pink-500") }}
              </label>
              <button class="text-white mt-1 px-3 py-2 rounded-lg bg-[#ffc107] font-medium text-sm">{{ form.submit.label() }}</button>
        </form>
    </div>
</section>
{% endblock body %}

