body {
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    margin: 30px auto;
}

.filters{
    border: 1px solid #ccc;
    width 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filters .div{
    display: inline-block;
    padding: 5px;
    height: 100%;
}

.input{
    position: absolute;
    right: 0px;
}

.intro{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10px;
    background:                                     linear-gradient(to bottom left, red 50%, transparent 50%),
    linear-gradient(to top right, blue 50%, transparent 50%);
    background-size: 100%;
    background-repeat: no-repeat;
}

.more{
	width: 45%;
	border: 1px solid #ccc;
    margin-top: 10px;
}

.sign{                                         width: 50%;
border: 1px solid #ccc;
    margin-top: 10px;
